// Adelle
// ======================================
// ======================================

@mixin adelle($w:400, $s:normal) {

// Weights ==============================
//
//                Thin  |  100
//               Light  |  300
//             Regular  |  400
//            Semibold  |  600
//                Bold  |  700
//          Extra Bold  |  800
//               Heavy  |  900


    font-family: "adelle", serif;
    font-style: $s;
    font-weight: $w;
}

// Chaparral Pro
// ======================================
// ======================================

@mixin chaparral-pro($w:400, $s:normal) {

// Weights ==============================
//
//               Light  |  300
//             Regular  |  400
//            Semibold  |  600
//                Bold  |  700

    
    font-family: "chaparral-pro", serif;
    font-style: $s;
    font-weight: $w;
}

// FF Meta Web Pro
// ======================================
// ======================================

@mixin ff-meta-web-pro($w:400, $s:normal) {

// Weights ==============================
// 
//             Regular  |  400
//                Bold  |  700


  font-family: "ff-meta-web-pro", sans-serif;
  font-style: $s;
  font-weight: $w;
}

// Freight Sans Pro
// ======================================
// ======================================

@mixin freight-sans-pro($w:400, $s:normal) {

// Weights ==============================
//  
//               Light  |  300
//                Book  |  400
//              Medium  |  500
//            Semibold  |  600
//                Bold  |  700
//               Black  |  900


    font-family: "freight-sans-pro", sans-serif;
    font-style: $s;
    font-weight: $w;
}

// Futura PT
// ======================================
// ======================================

@mixin futura-pt($w:400, $s:normal) {

// Weights ==============================
//  
//               Light  |  300
//                Book  |  400
//              Medium  |  500
//                Bold  |  700
//          Extra Bold  |  900


    font-family: "futura-pt", sans-serif;
    font-style: $s;
    font-weight: $w;
}


// Jubilat
// ======================================
// ======================================

@mixin jubilat($w:400, $s:normal) {

// Weights ==============================
//  
//         Extra Light  |  100
//               Light  |  300
//             Regular  |  400
//              Medium  |  400
//            Semibold  |  600
//                Bold  |  700
//               Black  |  900


    font-family: "jubilat", sans-serif;
    font-style: $s;
    font-weight: $w;
}

// Proxima Nova
// ======================================
// ======================================

@mixin proxima-nova($w:400, $s:normal) {

// Weights ==============================
//
//                Thin  |  100
//               Light  |  300
//             Regular  |  400
//            Semibold  |  600
//                Bold  |  700
//          Extra Bold  |  800
//               Black  |  900


    font-family: "proxima-nova", sans-serif;
    font-style: $s;
    font-weight: $w;
}